

/* * {
  font-size: 36px;
  margin: auto;
  padding: 0;
  max-width: 700px;
}

body {
  border: #000 solid 1px;
} */

/* Landing Page CSS */

/* Nav */
    /* Classes */

.nav-box {
  border: black solid 1px; 
}

.nav-logo {
  border: black solid 1px; 
}

.nav {
  border: black solid 1px; 
}

/* Footer CSS */
    /* Classes */

.footer-box {
  border: black solid 1px; 
}

/* Home CSS */
    /* Classes */

.carousel {
  border: black solid 1px; 
}

.image {
  border: black solid 1px; 
}

.carousel-title {
  border: black solid 1px; 
}

.gallery-prompt {
  border: black solid 1px; 
}

.prompt-text {
  border: black solid 1px; 
}

.prompt-image {
  border: black solid 1px; 
}

.about {
  border: black solid 1px; 
}

.about-image {
  border: black solid 1px; 
}

.about-text {
  border: black solid 1px; 
}

.contact {
  border: black solid 1px; 
}

/* Gallery CSS */
    /* classes */

.gallery-wall {
  display: flex;
  border: 1px solid black; 
  margin-left: 10%;
  margin-right: 10%;
}    

.gallery-item {
  border: 1px solid black; 
  padding: 20px;
  font-size: 27px;
  text-align: center;
}